<launch>

	<arg name="port" default="/dev/ttyACM0" />

        <node respawn="true" name="imu_rosserial" pkg="rosserial_python" type="serial_node.py"
              args="$(arg port) _baud:=2000000" output="screen" />

        <node name="razor_imu_node" pkg="razor_imu_m0" type="razor_imu_node.py" output="screen" />

</launch>
